# Ignore node_modules for both frontend and backend
Frontend/node_modules/
Backend/node_modules/

# Ignore environment variables for both frontend and backend
Frontend/.env
Backend/.env

# Ignore logs
Frontend/npm-debug.log
Backend/npm-debug.log
